---
import links from "../links";
---

<main id="main">
  <h1>About me</h1>
  <p>
    I've always been the kind of person who would be ideal for a job as a
    programmer. I spent a lot of time around computers, was driven to complete
    tasks, and detested being late. I made the decision to solely focus on
    learning web development around the beginning of 2020, and just one and a
    half year later, I was able to land a full-time position as a frontend
    developer. Up to that time I did a couple of freelance contracts.
  </p>
  <p>
    I enjoy spending my spare time learning new frameworks and tools that might
    help in my professional development. Over the years I had pleasure to try
    out dozes of technologies, including NextJS, Golang, Rust and many more. I
    didn't limit myself only to web development as I also built TUIs, load
    balancers or even simple databases. Listing everything is pointless, so if
    you are interested, visit
    <a
      href={links.github}
      target="_blank"
      rel="noreferrer"
      class="gradient-underline"
      aria-label="Go to my GitHub profile">my GitHub profile</a
    >.
  </p>
  <p>
    My psychology bachelor's degree is one of the things that makes me unique
    among developers. Alongside technical expertise, I wanted to learn more
    about soft skills because I am aware of how crucial they are in a
    collaborative setting. I'm confident that I can contribute significantly to
    any team that I'm assigned to.
  </p>
  <p>Oh, and I use Neovim btw :)</p>
  <a href="/contact" aria-label="Go to contact page" class="gradient-underline"
    >Contact me
  </a>
</main>

<style lang="scss">
  main {
    padding: 2rem;
    line-height: 1.5;
  }

  p {
    margin-bottom: 1rem;
  }

  a {
    color: var(--primary-color);
  }

  .about-para {
    line-height: 2;
    margin-bottom: 1rem;
  }
</style>
