<main id="main">
  <h1>About me</h1>
  <p class="about-para">
    I've always been the kind of person who would be ideal for a job as a
    programmer. I spent a lot of time around computers, was driven to complete
    tasks, and detested being late. I made the decision to only work on app
    development around the beginning of 2020, and just one and a half years
    later - up until that point, I had been freelancing - I was able to land a
    full-time position as a front-end developer.
  </p>
  <p class="about-para">
    I enjoy spending my spare time learning about new frameworks and tools that
    might aid in my professional development. One issue I have is that when I'm
    working on something exciting, I tend to work all day long because I simply
    don't want to do anything else. Being a passionate developer may be both a
    blessing and a curse - but I really don't mind it.
  </p>
  <p class="about-para">
    I've come across a lot of programming languages and tools, but at the moment
    I mostly use TypeScript, React (specifically Next.js, however I'm also
    experimenting with other frameworks), Node.js (Deno and Bun are interesting
    too), Tailwind CSS, Cypress, Jest, and many more, though listing them all
    here would be pointless. To see everything, visit <a
      href="https://github.com/naqet"
      target="_blank"
      rel="noreferrer"
      class="gradient-underline"
      aria-label="Go to my GitHub profile">my GitHub profile</a
    >.
  </p>
  <p class="about-para">Oh, and I use vim btw. I'm not some soy dev :)</p>
  <a
        href="/portfolio/contact"
    aria-label="Go to contact page"
    class="gradient-underline"
    >Contact me
  </a>
</main>

<style lang="scss">
  main {
    padding: 2rem;
    line-height: 1.5;
  }

  a {
    color: var(--primary-color);
  }

  .about-para {
    line-height: 2;
    margin-bottom: 1rem;
  }
</style>
