---
import links from "../links";

const originUrl = new URL(Astro.request.url).origin;
---

<script>
  {
    const form = document.querySelector("#main form");
    if (form) {
      form.addEventListener("submit", () => {
        const button = form.querySelector("button")!;
        button.disabled = true;
        button.innerText = "Sending...";
      });
    }
  }
</script>
<main id="main">
  <div class="contact-info">
    <h1>Contact me</h1>
    <p>
      I'm always open to new opportunities, whether they involve working for
      your company full-time, doing side work as a freelancer, or contributing
      to open source.
    </p>
    <p>
      I am aware that some individuals dislike forms... I'm always available on <a
        href={links.linkedin}
        target="_blank"
        rel="noreferrer"
        class="gradient-underline"
        aria-label="Go to my LinkedIn profile">LinkedIn</a
      > if you want to connect.
    </p>
    <p>Take care and have a nice day!</p>
  </div>
  <form action={`https://formsubmit.co/${links.mail}`} method="POST">
    <div class="input-box">
      <input
        id="name"
        name="name"
        type="text"
        required
        placeholder=" "
        aria-label="Your or company name"
        autocomplete="name"
      />
      <label for="name">Name</label>
    </div>

    <div class="input-box">
      <input
        id="email"
        name="email"
        type="email"
        required
        placeholder=" "
        autocomplete="email"
        aria-label="Email to receive answer to"
      />
      <label for="email">Email</label>
    </div>

    <div class="input-box">
      <input
        id="_subject"
        name="_subject"
        type="text"
        required
        placeholder=" "
        aria-label="Topic of the message"
        autocomplete="off"
      />
      <label for="_subject">Topic</label>
    </div>

    <div class="input-box">
      <textarea
        id="message"
        name="message"
        rows="6"
        required
        placeholder=" "
        autocomplete="off"
        aria-label="Content of the message"></textarea>
      <label for="message">Message</label>
    </div>
    <input type="hidden" name="_next" value={originUrl + "/thank-you"} />
    <input type="text" name="_honey" style="display:none" />
    <button type="submit">Send</button>
  </form>
</main>

<style lang="scss">
  main {
    padding: 2rem;
    display: grid;
    gap: 3rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  h1 {
    margin-block: 0;
  }

  .input-box {
    position: relative;
  }

  input,
  textarea {
    background-color: transparent;
    border: 1px solid var(--secondary-text);
    color: var(--primary-text);
    font-size: 1rem;
    padding: 0.75rem;
    border-radius: var(--rounded);
    width: -webkit-fill-available;
    width: -moz-available;
    caret-color: var(--blue);

    &:focus,
    &:hover {
      border-color: var(--blue);
      outline: none;

      & ~ label {
        top: -0.4rem;
        font-size: 0.8rem;
        padding-inline: 0.5rem;
        background-color: var(--bg);
      }
    }

    &:valid {
      border-color: var(--light-blue);
      caret-color: var(--light-blue);
    }

    &:not(:placeholder-shown) {
      &:invalid {
        border-color: var(--error);
        caret-color: var(--error);
      }

      &:not(:focus) ~ label {
        top: -0.5rem;
        font-size: 0.8rem;
        padding-inline: 0.5rem;
        background-color: var(--bg);
      }
    }
  }

  /* This overrides default autocomplete styles */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--light-blue) !important;
  }

  textarea {
    resize: vertical;
    min-height: 204px;
  }

  label {
    position: absolute;
    top: 0.8rem;
    left: 0.7rem;
    border-radius: var(--rounded);
    transition:
      0.3s font-size ease,
      0.3s top ease,
      0.3s padding-inline ease,
      0.3s background-color ease;
  }

  button {
    border: 1.5px solid var(--secondary-text);
    border-radius: var(--rounded);
    padding: 0.35rem 1rem;
    font-size: 1rem;
    color: var(--primary-text);
    margin: auto;
    background: transparent;
    cursor: pointer;
    outline: none;

    &:hover,
    &:focus {
      border-color: var(--blue);
      outline: none;
    }

    &:disabled {
      opacity: 0.5;
      cursor: progress;

      &:hover,
      &:focus {
        border-color: var(--secondary-text);
        outline: none;
      }
    }
  }

  a {
    color: var(--primary-text);
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  @media screen and (min-width: 768px) {
    main {
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
