article {
    >* {
        line-height: 1.75;
        margin-bottom: 1rem !important;
    }

    >h2,
    >h3 {
        margin-block: 1rem;

        &::before {
            content: "# ";
            display: inline;
            color: var(--blue);
        }
    }

    >p {
        margin-bottom: 1rem;
    }

    >ul,
    >ol {
        padding-left: 1rem;
        display: grid;
    }

    >blockquote {
        border-left: 2px solid var(--secondary-text);
        margin: 0;
        font-style: italic;
        padding: 1rem 2rem;
        quotes: "\201C" "\201D" "\2018" "\2019";
    }
}
