article {
    >* {
        line-height: 1.75;
        margin-bottom: 1rem !important;
    }

    >h2,
    >h3 {
        margin-block: 1rem;

        &::before {
            content: "# ";
            display: inline;
            color: var(--blue);
        }
    }

    >p {
        margin-bottom: 1rem;
    }

    >ul,
    >ol {
        padding-left: 1rem;
        display: grid;
    }
}
